<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vitalSpace</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <%-include("partials/header")-%>
    <p>See what others have posted</p>
    <%=currentHomeDay%>
    <!-- <%=title%> -->
    <!-- <%=body%> -->
     <a href="/service">activity</a>
     <div id="circle"><a href="/service"><button class="explore">EXPLORE</button></a></div>

        <% posts.forEach(function(post){ %>
            <div class="box">
                <h1><%= post.title %></h1>
                <p>
                  <%= post.content.substring(0, 100) + "..." %>
                  <a href="/posts/<%=post.title%>">Read More</a>
               </p>
            </div>
           
           <% }) %>

    <%- include("partials/footer") -%>
    <!-- <script src="index.js"></script> -->
</body>
</html>